:root {
    --main-text-cl:#212121;
    --btn-bg-cl: #F5F4FA; 
    --btn-bg-cl-hover: #2196F3;
    --btn-cl-hover: #fff;
    --secondary-text-cl: #757575;
    --secondary-bg-cl: #2F303A;
    --footer-mail-tel-cl: #ffffff99;
}

body{
    color: var(--main-text-cl);
    font-family: Roboto, Raleway, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--btn-cl-hover);
}

.list {
    list-style: none;
}

.link{
    text-decoration: none; 
    color: inherit;
}

.filter-btn {
    background-color: var(--btn-bg-cl);
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
}

.button {
    cursor: pointer;
    font-family: inherit;
}

.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--btn-bg-cl-hover);
    color: var(--btn-cl-hover);
}

.product-class {
    color: var(--secondary-text-cl);
    font-size: 16px;
    line-height: calc(30/16);
}

.product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
}

.logo-span {
    color: var(--btn-bg-cl-hover);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.address-footer {
    line-height: calc(24/14);
    font-style: normal;
    color: var(--btn-cl-hover);
}

.footer {
    background-color: var(--secondary-bg-cl);
}

.mail-footer,
.phone-footer {
    font-style: normal;
    line-height: calc(24/14);
    color: var(--footer-mail-tel-cl);
}

.footer .logo{
    color: var(--btn-cl-hover);
}

.header .active {
    color: var(--btn-bg-cl-hover);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--btn-bg-cl-hover);
}

.nav-link {
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.tel-header,
.mail-header {
    color: var(--secondary-text-cl);
}

.hero .hero-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--btn-cl-hover);
}

.hero {
    background-color: var(--secondary-bg-cl);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--btn-bg-cl-hover);
    color: var(--btn-cl-hover);
}

.feature-name {
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
}

.feature-description {
    line-height: calc(24/14);
    color: var(--secondary-text-cl);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
}

.team-post {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--secondary-text-cl);
}

.services-block-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
}